body {
    background-color: #bbb;
}

h1 {
    font: bold 2.2em Arial, sans-serif;
    text-align: center;
    padding: 7px;
}

p {
    position: relative;
    width: 40%;
    left: 30%;
    font: 1em Arial, sans-serif;
    text-align: center;
}
      
div.console { 
    font-size: 14px
    word-wrap: break-word;
}

div.console div.jquery-console-inner { 
    position: relative;
    left: 15%;
    width: 70%;
    height: 400px;
    background: #333;
    padding: 0.5em;
    overflow: auto;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div.console div.jquery-console-prompt-box {
    color: #fff;
    font-family: monospace;
}

div.console div.jquery-console-focus span.jquery-console-cursor {
    background: #fefefe;
    color:#333;
    font-weight:bold
}

div.console div.jquery-console-message {
    color:#eee;
    font-family:monospace;
    padding:0.1em;
}

div.console div.jquery-console-welcome {
    color:#1d2;
    font-family:monospace;
    font-weight:bold;
    padding:0.1em;
}

div.console div.jquery-console-error {
    color: #e00;
    font-family: monospace;
    font-weight: bold;
    padding: 0.1em;
}

div.console div.jquery-console-player-status {
    color:#ffa;
    font-family:monospace;
    padding:0.1em;
}

div.console div.jquery-console-prompt {
    color:#aaf;
    font-family:monospace;
    padding:0.1em;
}

div.console div.jquery-console-attack {
    color:#afa;
    font-family:monospace;
    padding:0.1em;
}

div.console div.jquery-console-damage {
    color:#faa;
    font-family:monospace;
    padding:0.1em;
}
