body {
    background-color: #666;
}

h1 {
    font: bold 2.2em monospace;
    text-align: center;
    padding: 10px;
}

      
div.console { 
    font-size: 14px
    word-wrap: break-word;
}

div.console div.jquery-console-inner { 
    position: relative;
    left: 15%;
    width: 70%;
    height: 400px;
    background: #333;
    padding: 0.5em;
    overflow: auto;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div.console div.jquery-console-prompt-box {
    color: #fff;
    font-family: monospace;
}

div.console div.jquery-console-focus span.jquery-console-cursor {
    background: #fefefe;
    color:#333;
    font-weight:bold
}

div.console div.jquery-console-message {
    color:#aaaafe;
    font-family:monospace;
    padding:0.1em;
}

div.console div.jquery-console-welcome {
    color:#1ad027;
    font-family:monospace;
    padding:0.1em;
}

div.console div.jquery-console-invalid-command {
    color: #ef0505;
    font-family: monospace;
    font-weight: bold;
    padding: 0.1em;
}

div.console div.jquery-console-player-status {
    color:#52666f;
    font-family:monospace;
    padding:0.1em;
}

div.console div.jquery-console-player-status {
    color:#aafeaa;
    font-family:monospace;
    padding:0.1em;
}
