h1 {
    font: bold 2.2em monospace;
    text-align: center;
    padding: 10px;
}

      
div.console { 
    font-size: 14px
    word-wrap: break-word;
}

div.console div.jquery-console-inner { 
    position: relative;
    left: 15%;
    width: 70%;
    height: 400px;
    background: #333;
    padding: 0.5em;
    overflow: auto
}

div.console div.jquery-console-prompt-box {
    color: #fff;
    font-family: monospace;
}

div.console div.jquery-console-focus span.jquery-console-cursor {
    background: #fefefe;
    color:#333;
    font-weight:bold
}

div.console div.not-implemented {
    color: #ef0505;
    font-family: monospace;
    font-weight: bold;
    padding: 0.1em;
}

div.console div.jquery-console-message-error {
    color:#ef0505;
    font-family:sans-serif;
    font-weight:bold;
    padding:0.1em;
}

div.console div.jquery-console-message-value {
    color:#1ad027;
    font-family:monospace;
    padding:0.1em;
}

div.console div.jquery-console-message-type {
    color:#52666f;
    font-family:monospace;
    padding:0.1em;
}

div.console span.jquery-console-prompt-label {
    font-weight:bold
}
